:root {
  --color-one: #4767e6;
  --color-two: #97ccf6;
}

html {
  background-color: antiquewhite;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
}

canvas#wams {
  background-color: whitesmoke;
  border: 1em inset tan;
}

#controls {
  position: fixed;
  background-color: var(--color-one);
  border-radius: 24px;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.control-buttons {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
  position: relative;
}

.control-buttons > button {
  align-items: center;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 24px;
  justify-content: center;
  height: 48px;
  margin-bottom: 0.25rem;
  transition: 0.15s ease-out;
  width: 48px;
}

.control-buttons > button.active {
  color: var(--color-two);
}

button#color > * {
  border: 2px solid #fff;
  border-radius: 50%;
}

button#width {
  align-items: center;
  display: flex;
  flex-direction: column;
}

button#width .line {
  background-color: #fff;
  border-radius: 1px;
  height: 3px;
  width: 24px;
  margin-bottom: 4px;
}

button#width .line:last-of-type {
  margin-bottom: 0;
}

button#width .line.line-medium {
  height: 5px;
}

button#width .line.line-thick {
  height: 7px;
}

#color-picker {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  padding: 0.5rem;
  position: absolute;
  right: 60px;
  top: 50%;
  transform: translateY(-50%);
  visibility: hidden;
}

#color-picker > * {
  cursor: pointer;
  font-size: 30px;
  margin-bottom: 0.5rem;
}

#color-picker > *:last-of-type {
  margin-bottom: 0;
}

#color-picker.show {
  visibility: visible;
}

#width-picker {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  padding: 0.5rem;
  position: absolute;
  right: 60px;
  top: 50%;
  transform: translateY(-50%);
  visibility: hidden;
}

#width-picker > * {
  align-items: center;
  color: var(--color-one);
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin-bottom: 0.5rem;
}

#width-picker > *:last-of-type {
  margin-bottom: 0;
}

#width-picker.show {
  visibility: visible;
}

/* WIDTHS */

.thin {
  font-size: 10px;
}

.medium {
  font-size: 20px;
}

.thick {
  font-size: 40px;
}

/* COLORS */

.red {
  color: #d12c1f !important;
}

.orange {
  color: #ef9135 !important;
}

.yellow {
  color: #fbee4f !important;
}

.green {
  color: #377f34 !important;
}

.blue {
  color: #1e4cf5 !important;
}

.purple {
  color: #6c1684 !important;
}

.white {
  color: #fff !important;
}

.grey {
  color: #808080 !important;
}

.black {
  color: #000 !important;
}
